.bookADriver {
    width: 100%;
    margin: 0;
    padding: 0;
}

.bookADriver .driver-img img {
    width: 100%;
}

.bookADriver .driver-container .driver-heading {
    font-size: 40px;
    margin: 15px 0 15px 0;
    font-weight: bold;
    text-align: center;
    color: #407bff;
}

.bookADriver .driver-container .driver-para {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 10px 0 10px 0;
    color: rgb(104, 104, 104);
}

.bookADriver .driver-container .driver-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 5px 0;
}

.bookADriver .driver-container .driver-btn .btn {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #407bff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 25px 10px;
}

.bookADriver .driver-container .driver-content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookADriver .driver-container .driver-content-section .driver-booking-type {
    width: 250px;
    height: 237px;
    margin: 10px 20px 0;
    padding: 0x;
    background-color: #F3F3F3;
}

.driver-content-section .driver-booking-type .driver-booking-heading {
    font-size: 20px;
    margin: 15px 10px 10px;
    text-align: center;
    color: #407bff;
}

.driver-content-section .driver-booking-type .driver-booking-para{
    font-size: 17px;
    padding: 5px 15px;
    width: 100%;
    margin: 0;
    text-align: left;
    color: rgb(106, 106, 106);
}