body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.driver_selectio_section {
    width: 100%;
}
.driver_selection {
    display: block;
    justify-content: center;
    align-items: center;
}
.driver_selection h1 {
    color: var(--blue);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}
.driver_selection h3 {
    color: var(--blue);
    font-weight: bold;
    text-align: center;
    margin: 30px;
}
.driver_selection p {
    text-align: center;
    width: 100%;
    margin: 30px;
}
.availability_heading {
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    margin: 30px;
}
.driver_availability {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 150px;
}
.driver_container {
    align-items: center;
    text-align: center;
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin: 50px 20px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--blue);

}
.driver_profile {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--blue);
    align-items: center;
}
.driver_name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px; 
}
.driver_rate {
    font-size: 18px;
    color: rgb(126, 121, 121);
    margin: 10px;
}
.driver_experience, .driver_charge{
    font-size: 18px;
    color: rgb(126, 121, 121);
    margin: 10px;
}
.button_choose {
    background: var(--blue);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: none;
}
.button_learn {
    background: var(--white);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: var(--blue);
    border:1px solid var(--blue);

}