.feature-row {
  width: 100%;
  padding: 0 100px;
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.feature-row.animate {
  opacity: 1;
  transform: translateY(0);
}

.feature-content {
  width: 500px;
  padding: 20px;
}

.feature-content h2 {
  font-size: 40px;
  font-weight: bold;
}

.feature-content p {
  margin: 0;
  font-size: 22px;
  width: 100%;
}

.feature-content .btn {
  border-radius: 14px;
  background-color: #407bff;
  align-self: start;
  margin-top: 24px;
  justify-content: center;
  color: #f4f4f4;
  white-space: nowrap;
  padding: 23px 34px;
  font: 16px/97% Inter, sans-serif;
}

.feature-imgae {
  width: 450px;
}

.feature-imgae img {
  width: 450px;
  height: 370px;
}

@media screen and (max-width: 768px) {
  .feature-row {
    flex-direction: column;
    padding: 0 20px;
  }

  .feature-content {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .feature-content h2 {
    font-size: 30px;
  }

  .feature-content p {
    font-size: 18px;
  }

  .feature-content .btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 14px;
  }

  .feature-imgae,
  .feature-imgae img {
    width: 100%;
    height: auto;
  }
}
