.feature-row {
  width: 100%;
  padding: 0 100px;
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.feature-row.animate {
  opacity: 1;
  transform: translateY(0);
}

.feature-content {
  width: 500px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feature-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--blue);
}

.feature-content p {
  margin: 0;
  font-size: 22px;
  width: 100%;
  color: #1918187a;
}

.feature-content .btn {
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  transition: 0.3s;
  background-color: [object object];
  background-image: radial-gradient(
    circle at 100% 0%,
    rgba(86, 136, 255, 1) 73%,
    rgba(0, 170, 239, 1)
  );
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-content .btn:hover {
  opacity: .5;
}
.feature-imgae {
  width: 450px;
}

.feature-imgae img {
  width: 450px;
  height: 370px;
}

@media screen and (max-width: 768px) {
  .feature-row {
    flex-direction: column;
    padding: 0 20px;
  }

  .feature-content {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;;
  }

  .feature-content h2 {
    font-size: 28px;
    color: var(--blue);
  }

  .feature-content p {
    font-size: 18px;
  }

  .feature-content .btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 14px;
  }

  .feature-imgae,
  .feature-imgae img {
    width: 100%;
    height: auto;
  }
}
