body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.payment-section {
  display: flex;
  justify-content: space-evenly;
}
.payment-details {
  padding: 50px;
}
.payment-details h1 {
  margin: 0;
  font-size: 40;
  font-weight: bold;
  color: var(--blue);
  padding: 0px 0px 20px 0px;
}
.payment-sucsess {
  width: 40px;
  height: 40px;
}
.payment-details form input[type="text"] {
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 15px;
  margin: 0px 20px 0px 0px;
}
.payment-details input:focus {
  outline: none;
}
.payment-details input:after {
  border: none;
}
.payment-details input::placeholder {
  color: rgb(78, 126, 189);
  font-weight: bold;
  font-size: 15px;
}
.payment-details h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  padding: 30px 0px 30px 0px;
}
.driver-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  text-align: center;
  background: rgb(228, 228, 228);
}
.driver-info-container h3 {
  margin: 0;
  color: var(--blue);
  font-weight: bold;
  padding: 10px;
}
.driver-info-container p {
  margin: 0;
}
.driver-info-profile img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.payment-feedback h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  padding: 50px 0px 0px 0px;
}
.payment-feedback input[type="textarea"] {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  -webkit-box-shadow: -4px -1px 29px -7px rgb(227, 209, 227);
  -moz-box-shadow: -4px -1px 29px -7px rgb(172, 170, 172);
  box-shadow: -4px -1px 29px -7px rgb(149, 146, 149);
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}
.payment-feedback h4 {
  font-size: 25px;
  font-weight: bold;
  color: var(--blue);
  padding: 20px 0px 0px 0px;
}
.feedback-submit {
  padding: 15px;
  background: var(--blue);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
}
.payment-bro {
  width: 500px;
  height: 500px;
}
