.main-container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.inner-container {
    margin: 20px;
    padding: 80px 100px 20px;
}

.inner-container h1{
    font-size: 55px;
    margin: 0;
    padding-bottom: 25px;
}

.inner-container .para{
    font-size: 25px;
    padding: 8px 0 19px;
    margin: 0;
    width: 100%;
    font-weight: 100;

}

.sec-heading{
    font-weight: bold;
    padding-top: 40px;
    font-size: 35px;
}

.therd-heading{
    font-weight: bold;
    font-size: 24px;
    padding-top: 12px;
}