:root {
  --blue: #407BFF;
  --white: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Microsoft+Sans+Serif:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-body-text-bok: Inter;
  --font-microsoft-sans-serif: "Microsoft Sans Serif";

  /* font sizes */
  --font-size-6xl: 1.56rem;
  --paragraph-body-text-bok-size: 1rem;
  --font-size-11xl: 1.88rem;
  --font-size-xl: 1.25rem;
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-31xl: 3.13rem;
  --font-size-9xl: 1.75rem;
  --font-size-8xl: 1.69rem;
  --font-size-13xl: 2rem;
  --font-size-17xl: 2.25rem;
  --font-size-15xl: 2.13rem;
  --font-size-lg: 1.13rem;

  /* Colors */
  --colors-primary: #fff;
  --color-blueviolet: #9747ff;
  --color-black: #000;
  --color-royalblue: #407bff;
  --color-gray-100: rgba(0, 0, 0, 0.41);
  --color-gray-200: rgba(0, 0, 0, 0.54);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.2);
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #ebebeb;
  --color-darkslateblue: #173579;
  --color-darkslategray-100: #263238;
  --color-darkslategray-200: rgba(38, 50, 56, 0.71);
  --color-gainsboro: #e6e6e6;

  /* Gaps */
  --gap-58xl: 4.81rem;
  --gap-xs: 0.75rem;
  --gap-5xl: 1.5rem;
  --gap-base: 1rem;
  --gap-63xl: 5.13rem;
  --gap-71xl: 5.63rem;
  --gap-18xl: 2.31rem;
  --gap-8xl: 1.69rem;
  --gap-44xl: 3.94rem;
  --gap-5xs: 0.5rem;
  --gap-43xl: 3.88rem;
  --gap-41xl: 3.75rem;
  --gap-xl: 1.25rem;
  --gap-lgi: 1.19rem;
  --gap-7xl: 1.63rem;
  --gap-75xl: 5.88rem;
  --gap-30xl: 3.06rem;
  --gap-22xl: 2.56rem;
  --gap-3xl: 1.38rem;
  --gap-14xl: 2.06rem;
  --gap-157xl: 11rem;
  --gap-76xl: 5.94rem;
  --gap-6xl: 1.56rem;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-4xl: 1.44rem;
  --padding-mid: 1.06rem;
  --padding-8xs: 0.31rem;
  --padding-77xl: 6rem;
  --padding-5xl: 1.5rem;
  --padding-79xl: 6.13rem;
  --padding-91xl: 6.88rem;
  --padding-31xl: 3.13rem;
  --padding-xl: 1.25rem;
  --padding-lgi: 1.19rem;
  --padding-6xs: 0.44rem;
  --padding-48xl: 4.19rem;
  --padding-110xl: 8.06rem;
  --padding-111xl: 8.13rem;
  --padding-25xl: 2.75rem;
  --padding-45xl: 4rem;
  --padding-65xl: 5.25rem;
  --padding-13xl: 2rem;
  --padding-17xl: 2.25rem;
  --padding-10xl: 1.81rem;
  --padding-36xl: 3.44rem;
  --padding-18xl: 2.31rem;
  --padding-236xl: 15.94rem;
  --padding-147xl: 10.38rem;
  --padding-23xl: 2.63rem;
  --padding-55xl: 4.63rem;
  --padding-29xl: 3rem;
  --padding-34xl: 3.31rem;
  --padding-15xl: 2.13rem;
  --padding-12xs: 0.06rem;
  --padding-26xl: 2.81rem;
  --padding-20xl: 2.44rem;
  --padding-lg: 1.13rem;
  --padding-97xl: 7.25rem;
  --padding-3xl: 1.38rem;
  --padding-30xl: 3.06rem;
  --padding-56xl: 4.69rem;
  --padding-12xl: 1.94rem;
  --padding-2xl: 1.31rem;

  /* Border radiuses */
  --br-41xl: 60px;
  --br-8xs: 5px;
  --br-45xl: 64px;
  --br-3xs: 10px;
  --br-base: 16px;
  --br-6xl: 25px;
  --br-sm: 14px;
  --br-31xl: 50px;
  --br-xl: 20px;
}
